$bp-tablet: 768px;
$light-color: #009DDA;

.navbar-brand {
    display: block;
    width: 75%;
    max-width: 310px;
}

@media (min-width: $bp-tablet + 1px) {
    header .container {
        border-bottom: 2px solid;
    }
}

@media (max-width: $bp-tablet) {
    header .container {
        padding-top: 0;
    }

    .navbar-brand {
        display: block;
        width: 69%;
    }

    .logo-and-mobile-widgets .mobile-widgets {
        bottom: 20px;
    }
}

#main-content {

    h1 {
        font-size: 36px;
        margin-bottom: 35px;
        border-bottom: 2px solid #009dda;
        padding-bottom: 15px;
        max-width: max-content;
    }

    .goal-tiles {
        .no-gutters {
            img:not(#goal-18) {
                box-shadow: 1px 5px 5px 0px rgba(5, 5, 5, 0.3);
                transition: all 150ms ease-in-out;
            }

            img:not(#goal-18):hover {
                box-shadow: 0px 5px 10px 0px rgba(5, 5, 5, 0.6);
                -webkit-transform: translate(0, -4px);
                transform: translate(0, -4px);
                -webkit-transition: all 150ms ease-in-out;
                -moz-transition: all 150ms ease-in-out;
                -ms-transition: all 150ms ease-in-out;
                -o-transition: all 150ms ease-in-out;
                transition: all 150ms ease-in-out;
            }
        }
    }
}

.breadcrumb {
    margin-top: 15px;
}

.standalone-indicator-list,
.publications {
    padding: 0;

    li:nth-child(odd) {
        background: #ececec;
    }

    li {
        list-style: none;
        padding: 5px 5px 5px 10px;

        a {
            color: #000;
            text-decoration: none;
            transition: .3s;
        }

        a:hover {
            padding-left: 5px;
            color: #009DDA;
        }
    }
}

.navbar-brand {

    &:focus {
        outline: unset !important;
        box-shadow: unset !important;
    }
}

.contrast-high {

    .standalone-indicator-list,
    .publications {

        li {
            background: #000;

            a {
                color: #fff;
            }
        }
    }
}
